.home {
  flex: 1;
}

.main {
  @apply px-4 flex flex-col w-full bg-light-theme min-h-full;
  background-image: radial-gradient(hsla(0, 0%, 84.3%, 0.25) 1px, transparent 0),
    radial-gradient(hsla(0, 0%, 84.3%, 0.1) 1px, transparent 0);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  -webkit-animation: slide 2s linear infinite;
  animation: slide 4s linear infinite;
  flex: 1;
}

:global(.dark) .main {
  @apply bg-dark-theme;
}

@keyframes slide {
  100% {
    background-position: 50px 0, 125px 25px;
  }
}

.header {
  @apply pt-16 z-10 relative max-w-screen-lg xl:max-w-screen-xl mx-auto;
}

.headerTopTitle {
  @apply text-2xl sm:text-4xl leading-none font-bold tracking-tight text-primary;
}

.headerTopTitleVital {
  @apply text-[gold] opacity-75;
}

.headerTitle {
  @apply text-6xl lg:text-7xl text-light-text font-extrabold mb-8 sm:mb-10;
}

:global(.dark) .headerTitle {
  @apply text-dark-text;
}

.headerDescription {
  @apply max-w-screen-lg text-lg sm:text-2xl sm:leading-10 text-light-text font-medium mb-10 sm:mb-11;
}

:global(.dark) .headerDescription {
  @apply text-dark-text;
}

.headerDescriptionCode {
  @apply font-mono text-primary font-bold;
}

.copy {
  @apply w-full max-w-screen-lg xl:max-w-screen-xl mx-auto mb-6;
}

.copyInner {
  @apply flex flex-col sm:flex-row sm:space-x-6 space-y-8 sm:space-y-0;
}

.features {
  @apply w-full max-w-screen-lg xl:max-w-screen-xl mx-auto grid grid-cols-1 gap-4 mb-6;
}

.cardWrapper {
  @apply col-span-1 opacity-0;
  animation: show 0.5s forwards;
}

@keyframes show {
  to {
    @apply opacity-100;
  }
}

.viteLogoContainer {
  @apply absolute top-12 right-12 opacity-10 lg:opacity-50;
}

.viteLogo {
  @apply w-56 h-56;
  animation: bounce 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes bounce {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateY(40px) rotate(-1deg);
    transform: translateY(40px) rotate(-1deg);
  }
}

.footer {
  @apply w-full pb-8 max-w-screen-lg xl:max-w-screen-xl mx-auto text-center text-gray-400 font-semibold;
}

.footer a {
  @apply text-blue-600 hover:underline;
}

.anchorLink {
  @apply hover:text-primary duration-[0ms];
}

.anchorCallToAction {
  @apply hover:text-primary text-light-text self-center;
}

:global(.dark) .anchorCallToAction {
  @apply text-dark-text hover:text-primary;
}
